body {
  padding-top: 70px;
  padding-bottom: 100px;
}

.shorten {
  text-align: center;
}

.break-word {
  word-wrap: break-word;
}

.large-font {
  font-size: 130%;
}

.no-top-margin {
  margin-top: 0;
}
